body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}

input, select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: #1f2933;
  color: white;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
